.navbar-brand{
    color: #fff !important;
    font-weight: bold;
    text-align: center;
  }
  .navbar{
    background-color: black;
  }
  .navbar-toggler-icon{
    background-color: white;
  }
  nav{
    height: 100%;
    padding-top: 60px;
  }
  footer {
    background-color: #333;  /* 원하는 배경 색으로 변경 */
    color: white; /* 글자 색을 흰색으로 변경 */
  }
  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: rgb(240, 240, 240);
  }